input {
    border: none;
    border-bottom: 1px solid #6F6F6F;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}

input::placeholder {
    text-transform: capitalize;
}

button[type="submit"]:not(.m-0) {
    background-color: #125ed4;
    color: #fff;
    margin-inline: auto;
    padding: 10px 12px;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
