.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 80%;
    height: 100%;
    background: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    z-index: 100;
}

.show-sidebar {
    transform: translateX(0);
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 676px) {
    .sidebar {
        max-width: 400px;
    }
}

.sidebar-header {
    padding: 1rem 1.5rem;

}

.logo {
    height: 40px;
}

.close-btn {
    font-size: 1.75rem;
    background: transparent;
    border-color: transparent;
    /* background: #125ed4; */
    color: #fff;
    padding: 6px;
    cursor: pointer;
}

/* .link:not(:last-child){
    border-bottom: 1px solid #000;
} */


.show-more-link a {
    position: relative;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
}

.show-more-link a::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #125ed4;
    z-index: -1;
    transition: width .3s;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -ms-transition: width .3s;
    -o-transition: width .3s;
}

.show-more-link:hover a {
    color: #fff;
}

.show-more-link:hover a::before {
    width: 100%;
}